.main__container {
    display: grid;
    column-gap: 4rem;
    grid-template-columns: 1fr 34rem;
    min-height: calc(100vh - 14rem);
    margin: 0 auto;
    max-width: 120rem;
    padding: 2rem 0;
    width: 75%;
}

.section__title {
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.section__games {
    margin-bottom: 2rem;
}

.section__games > p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.section__game {
    margin-right: 3rem;
}

.btn__games {
    background-color: #FFFFFF;
    border: 2px solid;
    border-radius: 100px;
    font-size: 1.4rem;
    font-style: inherit;
    font-weight: inherit;
    padding: 0.9rem 2rem;
}

.section__bet {
    font-size: 1.7rem;
    margin-bottom: 3rem;
}

.section__description {
    font-weight: normal;
    margin-top: 1rem;
    max-width: 74rem;
    word-break: break-all;
}

.section__numbers {
    flex-wrap: wrap;    
}

.section__number {
    margin-top: 1rem;
    margin-right: 1.5rem;    
}

.btn__numbers {
    background-color: #ADC0C4;
    border: none;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 2rem;
    height: 6rem;
    width: 6rem;
}

.btns__container {
    max-width: 70rem;
    width: 100%;
}

.btns__comp-clear {
    flex: 1;
}

.btn__complete, .btn__clear, .btn__add {
    border-radius: 10px;
    font-style: normal;
}

.btn__complete, .btn__clear {
    background-color: #F7F7F7;
    border: 1px solid #27C383;    
    color: #27C383;    
    margin-right: 2.5rem;
    padding: 1.5rem 2rem;
}

.btn__complete:hover, .btn__clear:hover {
    background-color: #27C383;
    color: #FFFFFF;
    transition: 0.5s;
}

.btn__add {    
    background-color: #27C383;
    border: none;
    color: #FFFFFF;    
    padding: 1.1rem 2.5rem; 
}

.btn__add > img {
    background-color: #27C383;
    height: 2rem;
    margin-right: 2.8rem;
    width: 2rem;
}

.aside {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-height: 50rem;
    width: 34rem;
}

.aside__cart {    
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-height: 40rem;
    padding: 2rem 1.5rem 0 1.5rem;    
}

.aside__cart > p {
    font-size: 2.4rem;
    margin: 2rem 0;    
}

.aside__games {    
    overflow-y: auto;
    width: 100%;
}

.aside__games--flex {
    flex: 1;
}

.aside__games::-webkit-scrollbar {
    width: 0.4rem;
}

.aside__games::-webkit-scrollbar-thumb {
    border: 5px solid;
    border-radius: 10rem;
}

.aside__games::-webkit-scrollbar-track {
    position: absolute;
    right: -3rem;
    top: -50rem;
    background: transparent;
}

.aside__item {
    margin-bottom: 2rem;
}

.aside__empty-cart {
    height: 4rem; 
    margin-right: 1rem;   
    width: 4rem;
}

.aside__empty-message {
    color: #FF0000;
    font-size: 1.7rem;
}

.aside__delete {
    background: none;
    border: none;
    height: 2.4rem;    
    width: 1.96rem;
}

.aside__info {    
    border-radius: 4px 0 0 4px;
    width: 90%;    
}

.aside__info, .aside__numbers, .aside__game {
    margin-bottom: 0.6rem;
    margin-left: 1.2rem;
}

.aside__numbers {
    font-size: 1.5rem;
    width: 25rem;
}

.aside__game {
    color: #7F3992;
    font-size: 1.6rem;
}

.aside__price {
    color: #707070;
    margin-left: 1.4rem;
}

.aside__price, .aside__total, .aside__total-value {
    font-style: normal;
    font-weight: normal;
}

.btn__save {
    border: none;
    color: #27C383;
    font-size: 3.5rem;
    font-style: italic;
    height: 9.6rem;
    justify-content: center;
    width: 100%;
}

.btn__save > img {    
    height: 2rem;
    margin-left: 1rem;
    width: 2.4rem;
}